<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flipping Cards</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="flashcards-app">
    <section class="input">
        <p>Question: <input type="text" placeholder="Enter question here" v-model="question"></p>
        <p>Answer: <input type="text" placeholder="Enter answer here" v-model="answer"></p>
        <p>Category:
            <input type="radio" id="history" name="category" value="history" v-model="category">
            <label for="history">History</label>
            <input type="radio" id="math" name="category" value="math" v-model="category">
            <label for="math">Math</label>
            <input type="radio" id="science" name="category" value="science" v-model="category">
            <label for="science">Science</label>
        </p>
        <p>
            <button v-on:click="submit">Submit</button>
        </p>
    </section>

    <div v-for="card in cards" class="card" v-on:click="card.flipped=!card.flipped">
        <div class="top math" v-bind:class="card.category"></div>
        <div class="side1 hide" v-bind:class="{hide: card.flipped}">
            <h1>>What is 2+2?</h1>
        </div>

        <div class="side2 " v-bind:class="{hide: !card.flipped}">
            <h1>Fish</h1>
        </div>
    </div>



    <div v-for="card in cards" class="card" v-on:click="card.flipped=!card.flipped">
        <div class="top math" v-bind:class="card.category"></div>
        <div class="side1 hide" v-bind:class="{hide: card.flipped}">
            <h1>What year was IUPUI founded?</h1>
        </div>

        <div class="side2 " v-bind:class="{hide: !card.flipped}">
            <h1>1969</h1>
        </div>
    </div>



    <div v-for="card in cards" class="card" v-on:click="card.flipped=!card.flipped">
        <div class="top math" v-bind:class="card.category"></div>
        <div class="side1 hide" v-bind:class="{hide: card.flipped}">
            <h1>Is mayonnaise an instrument?</h1>
        </div>

        <div class="side2 " v-bind:class="{hide: !card.flipped}">
            <h1>No</h1>
        </div>
    </div>



    <div v-for="card in cards" class="card" v-on:click="card.flipped=!card.flipped">
        <div class="top math" v-bind:class="card.category"></div>
        <div class="side1 hide" v-bind:class="{hide: card.flipped}">
            <h1>{{card.question}}</h1>
        </div>

        <div class="side2 " v-bind:class="{hide: !card.flipped}">
            <h1>{{card.answer}}</h1>
        </div>
    </div>


</div>

<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>